:root {
  --border-radius: 0.5rem;
  --primary-color: #b74c0f;
  --error-color: #a20634;
}

@font-face {
  font-family: YoungSerif;
  src: url("/fonts/YoungSerif.ttf");
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

h1,
h2,
h3 {
  font-family: YoungSerif;
}
